@use "sass:map";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.content {
  margin-inline: auto;
  padding: 20px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 1200px;
}
