@use "../abstracts/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Form elements */
input {
  outline: none;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 10px;
  color: var(--text-primary);
  caret-color: var(--text-primary);
  background-color: var(--background-secondary);
  font-family: $font-family-nunito;
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;

  &::placeholder {
    color: var(--text-secondary);
  }

  &:hover,
  &:focus {
    border-color: var(--border-hover);
  }

  &.input-error {
    border-color: var(--border-error);
  }
}
