@use 'sass:map';
@use 'variables' as *;

@mixin icon($size) {
  width: map.get($icon-size, $size);
  height: map.get($icon-size, $size);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin respond($size) {
  $value: map-get($breakpoints, $size);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  }
}
