@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

footer {
  padding: 5px;
  display: flex;
  align-self: flex-end;
  margin-top: auto;
}

.icons-attribution {
  color: color-mix(in srgb, var(--text-secondary), transparent 50%);
}
