@use '../abstracts/variables' as *;

.marquee {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: $marquee-width;
  height: $marquee-height;

  &-content,
  &-content-2 {
    position: absolute;
    display: flex;
  }

  &-content {
    animation: marquee 15s linear infinite;
  }

  &-content-2 {
    animation: marquee2 15s linear infinite;
  }

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-width: 120px;
    padding: 16px;
    margin-right: 20px;
    border: 1px solid rgba($border, 0.5);
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      border-color: rgba($border-hover, 0.5);
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}
