@use '../abstracts/variables' as *;

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;

  &-container {
    width: $search-width;
    position: relative;
  }

  &-input {
    flex: 1;
    padding: 10px;
    border: 1px solid rgba($border, 0.5);
    border-radius: 10px;
    outline: none;
    font-family: $font-family-nunito;

    &:hover,
    &:focus {
      border-color: rgba($border-hover, 0.5);
    }

    &.input-error {
      border-color: rgba($error, 0.5);
    }
  }

  button {
    background-color: $primary;
    color: $text-light;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
  }
}

.error {
  &-container {
    position: absolute;
    width: fit-content;
    bottom: 110%;
    left: -2%;
    z-index: 10;
    pointer-events: none;
  }

  &-message {
    color: $error;
    background-color: $background-error;
    border: 1px solid rgba($error, 0.2);
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 10px;
    pointer-events: none;
  }
}
