@use 'sass:map';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 20px;
  right: 20px;

  background: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  margin-left: auto;
  border: 1px solid var(--border);

  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--background-secondary);
    border: 1px solid var(--border-hover);
  }
}