@use 'sass:map';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.weather-result {
  min-width: $search-width;
  padding: 20px;
  border: 1px solid var(--border);
  background-color: var(--background-secondary);
  border-radius: 12px;

  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: opacity 0.5s ease-in-out;
  }

  &-temperature {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-details {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    padding-top: 10px;
    border-top: 1px solid var(--border);
    transition: border-color 0.3s ease-in-out;
  }
}
